In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('Power_Consumption.csv')

In [24]:
df

,Id,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,1,4.216,0.418,234.84,18.4,0,1,17
1,2,5.360,0.436,233.63,23.0,0,1,16
2,3,5.374,0.498,233.29,23.0,0,2,17
3,4,5.388,0.502,233.74,23.0,0,1,17
4,5,3.666,0.528,235.68,15.8,0,1,17
...,...,...,...,...,...,...,...,...
195,196,3.204,0.078,232.50,13.6,0,0,16
196,197,3.232,0.078,233.63,13.8,0,0,17
197,198,3.254,0.074,234.43,13.8,0,0,17
198,199,3.376,0.050,234.63,14.4,0,0,17
199,200,3.372,0.048,235.05,14.2,0,0,17

In [9]:
Q1=np.percentile(f_data,25)

In [10]:
Q1

0.052

In [11]:
Q3=np.percentile(f_data,75)

In [12]:
Q3

17.0

In [13]:
IQR=Q3-Q1

In [14]:
IQR

16.948

In [16]:
upperbound =Q3+(1.5*(IQR))

In [17]:
upperbound

42.422

In [18]:
lowerpound=Q1 -(1.5*(IQR))

In [19]:
lowerpound

-25.37

In [6]:
data=df

In [7]:
data

,Id,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,1,4.216,0.418,234.84,18.4,0,1,17
1,2,5.360,0.436,233.63,23.0,0,1,16
2,3,5.374,0.498,233.29,23.0,0,2,17
3,4,5.388,0.502,233.74,23.0,0,1,17
4,5,3.666,0.528,235.68,15.8,0,1,17
...,...,...,...,...,...,...,...,...
195,196,3.204,0.078,232.50,13.6,0,0,16
196,197,3.232,0.078,233.63,13.8,0,0,17
197,198,3.254,0.074,234.43,13.8,0,0,17
198,199,3.376,0.050,234.63,14.4,0,0,17
199,200,3.372,0.048,235.05,14.2,0,0,17

In [8]:
data_t=data.iloc[0:50,:]

In [8]:
def randomCenters(N,data):
    centers=data.sample(n=N)
    return centers.values.tolist()

In [9]:
#import math
def calculate_distance(center,points):
    distance=0
    for i in range(len(points)):
        distance+=(center[i]-points[i])**2
    return (np.sqrt(distance))

In [10]:
from collections import defaultdict
d = defaultdict(dict)
def find_clusters(centers,data,k):
    clusters=[]
    for i in range(len(data)):
        id_points=data[i][0]
        del data[i][0]
        for c in range(len(centers)):
            dis=calculate_distance(centers[c],data[i])
            d[c,id_points]=dis
    for n in range(0,len(d.items()),k):
        first_n_value =list(d.values())[n:n+k]
        val=min(first_n_value)
        if(val==0.0):
            del val
        else:
            clusters.append(list(d.keys())[list(d.values()).index(val)])
    return clusters

In [117]:
def group_cluster(cluster):
    d = defaultdict(list)
    for k, v in cluster:
        d[k].append(v)
    return d

In [118]:
def update_centroide(cluster,data):
    new_centroid=[]
    for k in range(len(cluster)):
        index=np.array(cluster[k])
        if(len(index!=0)):
            row_points=data.iloc[index.flatten()-1,1:]
            a,b,c,d,e,f,g=row_points.sum(axis=0)/len(row_points)
            new_centroid.append([a,b,c,d,e,f,g])
    return new_centroid

In [119]:
dic2= defaultdict(list)
k=int(input('please Enter number of Cluster : K'))
temp= defaultdict(list)
dic= defaultdict(list)
print("Initial centers: ")
centers=randomCenters(k,data)
print("Initial clusters: ")
clusters = find_clusters(centers,data.values.tolist(),k)
print('clusters is created')
group_clusters=group_cluster(clusters)
temp_centers=centers

please Enter number of Cluster : K3
Initial centers:
Initial clusters:
clusters is created

In [120]:
itr=1
while(True):  
    print("Iteration "+str(itr))
    print('1')
    centers =update_centroide(group_clusters,data)
    clusters = find_clusters(centers,data.values.tolist(),k)
    dic=group_cluster(clusters)
    if(temp_centers==centers):
        print(dic)
        break
    itr+=1
    temp_centers=centers

Iteration 1
1
Iteration 2
1
Iteration 3
1
defaultdict(<class 'list'>, {0: [1.0, 3.0, 4.0, 5.0, 13.0, 14.0, 15.0, 20.0, 22.0, 23.0, 24.0, 25.0, 26.0, 32.0, 34.0, 35.0, 40.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 52.0, 53.0, 54.0, 55.0, 56.0, 63.0, 64.0, 65.0, 71.0, 73.0, 74.0, 82.0, 83.0, 84.0, 91.0, 92.0, 93.0, 94.0, 96.0, 97.0, 98.0, 122.0, 123.0, 124.0, 125.0, 126.0, 134.0], 4: [1.0, 7.0, 9.0, 10.0, 11.0, 16.0, 17.0, 18.0, 20.0, 26.0, 27.0, 28.0, 29.0, 30.0, 32.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 50.0, 51.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 65.0, 66.0, 67.0, 68.0, 69.0, 71.0, 75.0, 76.0, 77.0, 78.0, 79.0, 81.0, 85.0, 87.0, 88.0, 89.0, 90.0, 94.0, 99.0, 100.0, 101.0, 103.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 117.0, 118.0, 119.0, 120.0, 127.0, 128.0, 129.0, 130.0, 131.0, 132.0, 135.0, 136.0, 137.0, 138.0, 139.0, 140.0, 141.0, 142.0, 144.0, 145.0, 146.0, 147.0, 148.0, 149.0, 150.0, 151.0, 152.0, 153.0, 154.0, 155.0, 156.0, 157.0, 158.0, 159.0, 160.0, 161.0, 162.0, 163.0, 164.0, 165.0, 166.0, 167.0, 168.0, 169.0, 170.0, 171.0, 172.0, 173.0, 174.0, 175.0, 176.0, 177.0, 178.0, 179.0, 180.0, 181.0, 182.0, 183.0, 184.0, 185.0, 186.0, 187.0, 188.0, 189.0, 190.0, 191.0, 192.0, 193.0, 194.0, 195.0, 196.0, 197.0, 198.0, 199.0, 200.0], 2: [2.0, 3.0, 6.0, 11.0, 12.0, 14.0, 15.0, 21.0, 23.0, 24.0, 33.0, 41.0, 42.0, 44.0, 45.0, 47.0, 48.0, 53.0, 54.0, 62.0, 63.0, 72.0, 74.0, 83.0, 84.0, 92.0, 93.0, 95.0, 96.0, 102.0, 104.0, 105.0, 122.0, 123.0, 125.0, 126.0], 1: [5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 16.0, 17.0, 19.0, 20.0, 26.0, 28.0, 29.0, 31.0, 32.0, 35.0, 37.0, 38.0, 50.0, 56.0, 58.0, 59.0, 61.0, 65.0, 67.0, 68.0, 70.0, 71.0, 75.0, 76.0, 77.0, 79.0, 80.0, 81.0, 85.0, 86.0, 87.0, 88.0, 89.0, 98.0, 99.0, 100.0, 101.0, 103.0, 105.0, 106.0, 107.0, 109.0, 110.0, 112.0, 113.0, 115.0, 116.0, 118.0, 119.0, 121.0, 127.0, 128.0, 130.0, 131.0, 133.0, 134.0, 135.0, 136.0, 137.0, 139.0, 140.0, 142.0, 143.0, 144.0, 145.0, 146.0, 148.0, 149.0, 151.0, 152.0, 154.0, 155.0, 157.0, 158.0, 160.0, 161.0, 163.0, 164.0, 166.0, 167.0, 169.0, 170.0, 172.0, 173.0, 175.0, 176.0, 178.0, 179.0, 181.0, 182.0, 184.0, 185.0, 187.0, 188.0, 190.0, 191.0, 193.0, 194.0, 196.0, 197.0, 199.0, 200.0]})